footer .redes-sociales {
    background: #1e2b38;
    padding: 60px 0; 
  }
  
  footer .redes-sociales .contenedor {
    /*Habilito flexbox, donde ahora los elementos hijos son "flexibles(especie de float)"*/
    display: flex;
    /*Centrar los contendedores hijos de manera horizontal*/
    justify-content: center; 
  }
  
  footer .redes-sociales .contenedor a {
    color: #fff;
    text-align: center;
    width: 100px;
    /*Los iconos son una FUENTE, cambio su tamaño con font-size*/
    font-size: 30px;
    /*Margen interno entre icono y el recuadro*/
    padding: 15px 0;
    /*Transformo los imput de tipo inline a block(100%) para que este uno abajo del otro*/
    /*Pero con flexbox lo arreglo*/
    display: block;
    /*Margen exterior con los otros enlaces*/
    margin: 0 20px;
    border-radius: 3px; 
  }
  
  footer .redes-sociales .contenedor .facebook:hover {
    background: #3b5998; }
  
  footer .redes-sociales .contenedor .github:hover {
    background: #666666; }
  
  footer .redes-sociales .contenedor .linkedin:hover {
    background: #0077B5; }