header {
    background: url("../img/fondo.jpg") #63d3d4;
    /*Aseguridad que el fondo no se repita*/
    background-repeat: no-repeat;
    background-position: center;
    /*Establecemos el alto maiximo*/
    max-height: 600px; 
    height: 480px;
  }
  
  header .contenedor {
    position: relative; /* Esto permite que los elementos hijos posicionados absolutamente se ubiquen dentro del contenedor */
  }
  
  /* Estilos para el logo 
  header .logo {
    position: absolute; /* Posiciona el logo de manera absoluta dentro del contenedor */
   /* bottom: 0; /* Lo posiciona en la parte inferior */
   /* left: 0;  /* Lo coloca en la parte izquierda */
   /* width: 200px; /* Ajusta el tamaño del logo */
   /* margin-bottom: -20px;
  } */
  
  
  header .menu {
   /*Margen exterior entre los otros objetos HTML*/
    margin: 40px 0;
    text-align: right; 
  }
  
  
  header .menu a {
    /*Margen exterior entre los otros objetos HTML (arriba-abajo derecha-izquierda)*/
    margin: 0 20px;
    color: #fff;
    /*Recordatorio:display: 
    block= abarcan el 100% de longitud como el div
    inline= abarca solo el espacio necesario*/
    /*Quito que los enlaces abarquen el 100% para que esten uno al lado del otro*/
    display: inline-block;
    padding-bottom: 9px;
    /*em = tamaño de su contenedor, en este caso el body (16px)*/
    font-size: 1em;
    text-decoration: none;
    /*Evita que se agrande el header al pasarle el maus*/
    border-bottom: 2px solid transparent; 
    margin-bottom: 250px; 
  }
  
  
  header .menu a:hover {
    border-bottom: 2px solid #fff; 
  }