.main .contenedor {
    /*Sobreescribo la propiedad de hidden general*/
    overflow: visible;
  }
  
  
  /* ------ ---- OPCIONES ---------*/
  
  .main .opciones {
    background: #f2f2f2;
    padding: 60px 0; 
  }
  
  .main .opciones .contenedor {
    overflow: hidden; 
  }
  
  /*Mismas propiedades que el titulo de acerca de*/
  .main .opciones .titulo {
    margin-top: 50px;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 60px;
    /*Tipo de fuente de Open Sans*/
    font-weight: 350;
    color: #323068;
    text-align: center; 
  }
  
  .main .opciones .contenedor-cada-opciones {
    /*Habilito flexbox, donde ahora los elementos hijos son "flexibles(especie de float)"*/
    display: flex;
    flex-direction: rows;
    /*Para que se respete las propiedades de los hijos si no entran en la caja padre en lo ancho o alto y se va hacia abajo*/
    flex-wrap: wrap;
    /*Posiciona los hijos de manera que dejen un espacio iguales en medio de manera DINAMICA(se ajusta si la pantalla de achica hasta cierto punto), 
      en este caso como hay dos solo y tiene column se pone una arriba de todo y otro abajo de todo*/
    justify-content: space-between; 
  }
  
  .main .opciones .contenedor-cada-opciones .opcion {
    /*23% para que entre solo 4 opciones por fila*/
    width: 23%;
    margin-bottom: 40px; 
  }
  
  .main .opciones .contenedor-cada-opciones .opcion .imagen-opcion {
    width: 100%;
    margin-bottom: 10px; 
  }
  
  .main .opciones .contenedor-cada-opciones .opcion .imagen-opcion img {
    /*Quitar el espacio vertical en cada imagen que viene por defecto*/
    vertical-align: top;
    width: 100%;
    border-radius: 3px; 
  }
  
  .main .opciones .contenedor-cada-opciones .opcion .descripcion {
    text-align: center; 
  }
  
  .main .opciones .contenedor-cada-opciones .opcion .descripcion .nombre {
    /*Tipo de fuente de Open Sans*/
    font-weight: 700;
    color: #3283ce;
    margin-bottom: 10px; 
    margin-top: 20px;
  }
  
  .main .opciones .contenedor-cada-opciones .opcion .descripcion .detalle {
    font-size: 16px;
    color: #4e4e4e;
    /*Interlineado*/
    line-height: 25px; 
  }


/* ------ ---- Diseño Responsive ---------*/

@media screen and (max-width: 800px) {
.main .opciones .contenedor-cada-opciones .opcion {
    /*Con esto entran dos imagenes y los 8% queda como espacio en el medio */
    width: 46%; 
} 
    /*header .menu {
    text-align: center; } */
}