/*ESTILOS GLOBALES DE LA APLICACION*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

* {
  margin: 0;
  padding: 0;
  /*Si establesco el tañano de los div tambien se considere su padding:*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }

 /*body: abarca todos los elementos HTML*/
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

/*Este se encuentra en cada parte de la pagina*/
.contenedor {
  /*Dejo margenes implicitos, van a ser de 10%*/
  width: 90%;
  /*Tamaño del div*/
  max-width: 1000px;
  /*Centrar el contenedor*/
  margin: auto;
  /*El contenido que se salga del área visible del contenedor será ocultado, es decir, no se mostrará fuera de los límites del contenedor*/
  overflow: hidden; }